* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {list-style: none;}
a {text-decoration: none;}
img {max-width: 100%;}

html, body {
    scroll-behavior: smooth;
}

:root {
    --w: 700px;

    --clr-bg: #1e3b4c;
    --clr-bg-tab: #2b535e;
    --clr-bg-tab-active: #3a6d75;
    --clr-sep: rgba(0,0,0, 0.5);
    --clr-text: #c6d1d1;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sep
{
    margin: 10px auto;
    width: 95%;
    height: 2px;
    background-color: var(--clr-sep);
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

.content {
    max-width: var(--w);
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 20px;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 1.6em;
}

.tab-header {
    margin-left: 20px;
}

.tab-header li {
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--clr-bg-tab);
}

.tab-header li.tab-active {
    background-color: var(--clr-bg-tab-active);
}

.tab-header-flex {
    display: inline-flex;
    gap: 5px;
    font-size: 1.4em;
}

.tab {
    margin: 10px;
    padding: 10px;
}

.description {
    padding: 5px;
}

.questions {
    list-style: decimal;
}

.questions input[type="text"] {
    background-color: rgba(0,0,0,0.4);
    outline: none;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    max-width: 100px;
    color: inherit;
    padding: 3px;
}

.questions .ru,
.questions .en {
    margin-right: 20px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--clr-bg-tab-active);
    font-size: 1.1em;
    font-family: inherit;
    color: inherit;
    border: 1px solid rgba(0,0,0,0);
}
