* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {list-style: none;}
a {text-decoration: none;}
img {max-width: 100%;}

html, body {
    scroll-behavior: smooth;
}

:root {
    --w: 700px;

    --clr-bg: #1e3b4c;
    --clr-bg-tab: #2b535e;
    --clr-bg-tab-active: #3a6d75;
    --clr-sep: rgba(0,0,0, 0.5);
    --clr-text: #c6d1d1;
    --clr-hint: rgba(255,255,255,0.1);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sep
{
    margin: 10px auto;
    width: 95%;
    height: 2px;
    background-color: var(--clr-sep);
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

.content {
    max-width: var(--w);
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    max-width: var(--w);
    padding: 20px 40px;
    margin: 20px auto;
    text-align: center;
}

.header h1 {
    font-size: 1.6em;
}

.footer {
}


.section {
    margin: 10px;
}

.section summary {
    cursor: pointer;
    padding: 10px;
    font-size: 1.4em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--clr-bg-tab);
}

.section[open] summary {
    border-bottom: none;
    background-color: var(--clr-bg-tab-active);
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.details-inner {
    padding: 10px;
    margin-bottom: 30px;
}

.description {
    padding: 5px;
    margin-bottom: 20px;
}

.questions {
    margin-left: 30px;
    list-style: decimal;
}

.questions li {
    margin-bottom: 20px;
}

.questions input[type="text"] {
    background-color: rgba(0,0,0,0.4);
    outline: none;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    max-width: 100px;
    color: inherit;
    padding: 3px;
}

.questions .ru,
.questions .en {
    margin-bottom: 5px;
}

.hint {
    background-color: var(--clr-hint);
    border-radius: 5px;
    padding: 2px 5px;
}

.questions input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;

}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: var(--clr-bg-tab-active);
    font-size: 1.1em;
    font-family: inherit;
    color: inherit;
    border: 1px solid rgba(0,0,0,0);
}

@media (max-width: 576px) {
    .footer {
        min-height: 20vh;
    }
}
